$verde: #00988e;
//colores secciones
$verdeClaro: #94B447;
$naranja: #FD793E;
$celeste: #4084C4;
$azul: #1C676C;

$spacer: 36px;
$spacers:(
    0: 0,
    octa: (
        $spacer * 0.125
    ),
    quar: (
        $spacer * 0.25
    ),
    half: (
        $spacer * 0.5
    ),
    3qrt: (
        $spacer * 0.75
    ),
    base: (
        $spacer
    ),
    3hlf: (
        $spacer * 1.5
    ),
    doub: (
        $spacer * 2
    ),
    dbhf: (
        $spacer * 2.5
    ),
    trip: (
        $spacer * 3
    ),
    trhf: (
        $spacer * 3.5
    )
);
$spacer-0: map-get($spacers, 0);
$spacer-octa: map-get($spacers, octa);
$spacer-quar: map-get($spacers, quar);
$spacer-half: map-get($spacers, half);
$spacer-3qrt: map-get($spacers, 3qrt);
$spacer-3hlf: map-get($spacers, 3hlf);
$spacer-doub: map-get($spacers, doub);
$spacer-dbhf: map-get($spacers, dbhf);
$spacer-trip: map-get($spacers, trip);
$spacer-trhf: map-get($spacers, trhf);

//styles for modules
.ce-block{
    h2{
        font-size: 25px;
        font-weight: 800;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        padding: $spacer-3qrt $spacer-half;
    }
    
    p{
        font-size: 16px;
        @media (min-width: 992px) {
            font-size: 18px;
        }
    }

    ul{
        font-size: 16px;
        margin: 0;
        padding: 0 $spacer;
        width: 100%;

        @media (min-width: 992px) {
            font-size: 18px;
            padding: 0 $spacer $spacer-half;
        }

        li {
            list-style: none;
            position: relative;
        }

        li::before {
            content: "•";
            color: $verdeClaro;
            font-size: 25px;
            margin-right: 5px;
        }
    }

    .cdx-list--ordered{
        counter-reset: li;
        width: 100%;
        list-style-type: none;
        font-size: 16px;
        padding: $spacer-half $spacer;
        margin: 0;
        li:before {
            counter-increment: li;
            content: counter(li);
            padding: 3px 10px;
            width: 20px;
            height: 20px;
            font-size: 14px;
            font-weight: bold;
            margin-right: 8px;
            background-color: $verdeClaro;
            color: white;
            line-height: 35px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
        }
    }
}